Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
README.md
.next
.git
.github
.env*
!.env.sample
data
prisma/*.db*
*.db*
workfiles
Workfiles
scratch
docker-compose*.yml
