@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-50: #e5f6ff;
  --color-brand-100: #ccefff;
  --color-brand-200: #99deff;
  --color-brand-300: #66ceff;
  --color-brand-400: #33beff;
  --color-brand-500: #0088c2;
  --color-brand-600: #006b99;
  --color-brand-700: #004d70;
  --color-brand-800: #003047;
  --color-brand-900: #00131f;
}

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }
  .dark {
    --background: #18181b; /* zinc-900 */
    --foreground: #f4f4f5; /* zinc-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
